.content {
  height: 100%;
  background-color: var(--red-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container {
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.content-info {
  border-radius: 0.8rem;
  width: 30rem;
  padding: 2rem;
  background-color: var(--bg-color);
}

.content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.content p {
  font-size: 1.2rem;
  font-weight: 600;
}
