.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  background-color: var(--green-700);
}

.home-top-section {
  overflow-x: auto;
  display: flex;
  gap: 2.6rem;
  align-items: center;
  background-color: var(--bg-color);
  height: 20rem;
  margin-top: 10rem;
  padding: 2rem 0 2rem 2rem;
}

.home-top-section-note {
  color: var(--bg-color);
  border-radius: 0.8rem;
  height: 16rem;
  min-width: 20rem;
  background-color: var(--orange-700);
  padding: 1rem;
  overflow-y: auto;
}

.home-top-section div h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.home-top-section div p {
  font-size: 1.2rem;
  width: 20rem;
}

.home-bottom-section {
  overflow-y: auto;
  margin-bottom: 7.4rem;
  flex: 1;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-bottom-section :last-child {
  font-weight: 400;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.home-bottom-section-note {
  border-radius: 0.8rem;
  max-height: 15rem;
  background-color: var(--bg-color);
  padding: 2rem;
}

.home-bottom-section-note h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home-bottom-section-note p {
  font-size: 1.2rem;
  font-weight: 500;
}

.task-description{
  font-weight: 700;
}