.notes-content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.notes-content p {
  font-size: 1.2rem;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  background-color: var(--orange-700);
  padding-bottom: 7.4rem;
  z-index: 2;
}

.notes-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 3.6rem 3.6rem 0 3.6rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.notes-content {
  background-color: var(--orange-700);
  border-radius: 0.8rem;
  color: var(--bg-color);
  padding: 1.6rem;
  position: relative;
}

.remove-note {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.add-notes-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 25rem;
  border-radius: 0.8rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--orange-700);
  color: var(--bg-color);
  margin-top: 4rem;
  margin-bottom: 3.6rem;
}

.container-bg {
  width: 100%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: var(--bg-color);
  border-radius: 0.8rem 0.8rem 0 0;
}

.info-note {
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  z-index: 3;
}

.info-note p {
  font-size: 1.6rem;
  color: var(--bg-color);
}

.bg-cover-confirm-note {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: var(--text-color);
}

.note-input-container {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
  height: 40rem;
  background-color: var(--green-700);
  border-radius: 0.8rem;
}

.note-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  min-height: 5rem;
  width: 33rem;
  background-color: var(--beige-500);
  border-radius: 0.8rem;
}