:root {
  font-size: 62.5%;
  --bg-color: #f7efdc;
  --text-color: #091414;

  --red-900: #631d1f;
  --red-500: #b10000;

  --green-700: #215247;

  --beige-900: #b0a075;
  --beige-700: #c2bcad;
  --beige-500: #d5c9b1;

  --orange-700: #b3552e;

  --white-color: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: var(--bg-color);
  padding: 2rem;
}

.app {
  height: 100vh;
  width: 100%;
}
