:root {
  font-size: 62.5%;
  --bg-color: #f7efdc;
  --text-color: #091414;

  --red-900: #631d1f;
  --red-500: #b10000;

  --green-700: #215247;

  --beige-900: #b0a075;
  --beige-700: #c2bcad;
  --beige-500: #d5c9b1;

  --orange-700: #b3552e;

  --white-color: #fdfdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: var(--bg-color);
  padding: 2rem;
}

.app {
  height: 100vh;
  width: 100%;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user-photo {
  width: 10rem;
  height: 10rem;
  background-color: var(--green-700);
  border-radius: 100%;
}

.username-input,
.email-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.username-input input,
.email-input input {
  border: none;
  background-color: var(--gray);
  height: 4rem;
  width: 26.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 0.4rem rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  background-color: var(--white-color);
}

.username-input input::placeholder,
.email-input input::placeholder {
  padding-left: 2rem;
  font-weight: 700;
  opacity: 0.5;
}

.login label {
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-color);
}

.login-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login-button button,
.signin-btn {
  height: 5rem;
  width: 20rem;
  font-size: 2rem;
  background-color: var(--red-500);
  color: var(--bg-color);
  border-radius: 0.8rem;
  font-weight: 600;
}

.login-button p {
  font-size: 1rem;
}

.container-input-login {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.signin-btn span {
  margin-left: 2rem;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.welcome p {
  font-size: 2.4rem;
  max-width: 25rem;
  font-weight: 500;
}

.welcome div {
  width: 80%;
}

.profile {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info h2 {
  font-size: 3rem;
  font-weight: 600;
}

.profile-info p {
  color: var(--red-900);
}

.tasks {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-700);
}

.tasks-message {
  font-size: 2rem;
  font-weight: 600;
  color: var(--bg-color);
  text-align: center;
  margin-top: 9rem;
  max-width: 85%;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50rem;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 1rem 1rem 0 0;
  padding: 3rem 2rem 8rem;
}

.tasks-scroll {
  max-height: 25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tasks-scroll div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  min-height: 5rem;
  width: 30rem;
  background-color: var(--beige-500);
  border-radius: 0.8rem;
}

.tasks-container button,
.add-task-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 25rem;
  border-radius: 0.8rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--green-700);
  color: var(--bg-color);
  margin-top: 4rem;
  margin-bottom: 3.6rem;
}

.info-task {
  width: 100%;
  position: absolute;
  top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  z-index: 3;
}

.tasks-input-container {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
  height: 40rem;
  background-color: var(--green-700);
  border-radius: 0.8rem;
}

.tasks-input-container input,
.tasks-input-container textarea {
  padding-left: 2rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--bg-color);
  height: 4rem;
  width: 30rem;
}

.tasks-input-container input::placeholder,
.tasks-input-container textarea::placeholder {
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.5;
}

.tasks-input-container textarea {
  padding-top: 1rem;
  height: 15rem;
  resize: none;
}

.bg-cover-confirm {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: var(--text-color);
}

.info-task p {
  font-size: 1.6rem;
  color: var(--bg-color);
}
.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  background-color: var(--green-700);
}

.home-top-section {
  overflow-x: auto;
  display: flex;
  gap: 2.6rem;
  align-items: center;
  background-color: var(--bg-color);
  height: 20rem;
  margin-top: 10rem;
  padding: 2rem 0 2rem 2rem;
}

.home-top-section-note {
  color: var(--bg-color);
  border-radius: 0.8rem;
  height: 16rem;
  min-width: 20rem;
  background-color: var(--orange-700);
  padding: 0.5rem;
}

.home-top-section div h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.home-top-section div p {
  font-size: 1.2rem;
  width: 20rem;
}

.home-bottom-section {
  overflow-y: auto;
  flex: 1;
  padding: 0 2rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-bottom-section-note {
  border-radius: 0.8rem;
  height: 15rem;
  background-color: var(--bg-color);
  padding: 2rem;
}

.home-bottom-section-note h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home-bottom-section-note p {
  font-size: 1.2rem;
  font-weight: 500;
}

/* -------------------- Note styles */

.notes {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  background-color: var(--orange-700);
  padding-bottom: 6.4rem;
  z-index: 2;
}

.notes-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  padding: 3.6rem 3.6rem 0 3.6rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.notes-content {
  background-color: var(--orange-700);
  border-radius: 0.8rem;
  color: var(--bg-color);
  padding: 1.6rem;
  position: relative;
}

.notes-close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.add-notes-confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 25rem;
  border-radius: 0.8rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--orange-700);
  color: var(--bg-color);
  margin-top: 4rem;
  margin-bottom: 3.6rem;
}

.container-bg {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: var(--bg-color);
  border-radius: 0.8rem 0.8rem 0 0;
}

.notes-content h2 {
  font-size: 2rem;
  font-weight: 600;
}

.notes-content p {
  font-size: 1.2rem;
}

.content {
  height: 100%;
  background-color: var(--red-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-container{
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

.content-info{
  border-radius: .8rem;
  width: 30rem;
  padding: 2rem;
  background-color: var(--bg-color);
}

.content h2{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.content p{
  font-size: 1.2rem;
  font-weight: 600;
}

.hidden {
  display: none;
}
